# Node
node_modules/
/.pnp
pnp.js

# Lockfiles
pnpm-lock.yaml
package-lock.json

# Build outputs
.next/
out/
dist/
build/

# Local dependency caches
.turbo/
.parcel-cache/

# Environment
.env
.env.local
.env.*.local
.DS_Store

# OS editor folders
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Generated static media
public/static/